<div id="book-page">
    <div class="container">
        <h1>{{book.title}}</h1>
        <p>Este livro tem {{book.pages}} páginas</p>
    <a href="/books"><button>Voltar Para livros Disponíveis</button></a>
    </div>
</div>
